:root {
    --primary_color: #6CBEED;
    --secondary_color: #DDC47D;
    --accent1_color: #535252;
    --accent2_color: #6D6D6D;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
}

* {
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary_color);
    padding: 1rem;
}

header img {
    max-height: 5rem;
}

nav a{
    color: var(--accent1_color);
}

/* Hero */

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    color: var(--accent1_color);
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 3rem;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 50%;
    background-color: var(--secondary_color);

}

.hero article img {
    float: right;
    margin: 0;
    width: 150px;
    height: auto;
}


/* Footer */

footer {
    text-align: center;
    background-color: var(--primary_color);
    color: var(--accent1_color);
}

footer .social_links img {
    text-align: center;
    width: 20px;
}
